/*

  참고1.
  CSS 작명 ex. .navi-text , 
    일반 -
    부모 자식 __ 
    태그명 태그 --
    
  스타일 겹칠 경우 우선순위(1. style 2. id, 3. class 4. tag)따라 정해짐

  div,p,h = display: block( 가로행을 전부 차지해주는 것 - 이 기준 양 옆에 못 씀) 가지고 있음

  일부 스타일(font-size, font-family, color...)은 inherit(상속 : 부모 -> 자식) 됨 

  부모 100 중 자식 20, 80 이런식으로 나눠서 쓰면 됨.

  select 문법 
    공백  : ~안에 있는 모든자식 ex) .profile li
    >     : ~안에 있는 직계자식 ex) .profile>li

  margin collapse 현상 : 박스 2개가 위쪽 테두리가 겹침 -> 이럴 경우 margin도 합쳐짐

  body margin 기본값으로 있음

  position부여시
    1. 좌표이동가능
    2. 공중에 뜸

  브라우저 간의 호환성 이슈 : normalize.css 이거 찾아보면 될듯

  div도 style="display:table" 등으로 사용도 가능

  참고2.
  font-size 
    vw : 현재 브라우저 창의 넓이
    % : 내 부모 사이즈에 비례
  letter-spacing : 자간 조절
  span : 글자를 감쌀수 있는 별 뜻 없는 태그
  class : style을 묶는 단위
  #special : css 상에서 특별하게 하는 id 그렇지만 class 쓰는 편임
  selector
    1. class
    2. tag
    3. id(special or id 인듯)
  margin : 상하좌우 여백  
  padding : 상하좌우 안쪽 여백
  float : 요소를 붕 띄워서 왼쪽정렬
  clear: both = folat 다음에 오는 요소에게 주면 float로 발생하는 이상한 현상 해결
  display: inline-block; 내 크기만큼 차지
  vertical-align: top; 상하정렬
  text-decoration: none; a 태그의 밑줄제거 가능
  position: 
    relative; 내 원래 위치를 기준으로 이동하세요.(기준점 잡는 속성)
    stitic : 좌표이동 x
    fixed : 현재 화면이 기준
    absolute : 내 부모 태그 중에 position : relative 가진 부모 기준
  position : absoulte 준 요소 가운데 정렬 하려면 left,right 0, margin auto, width 적절한 크기
  z-index : 어떤놈이 앞으로 올지 결정
  max-width : 최대 넓이
  box-sizing : width 를 주면 margin, padding 추가 되는데, 다 포함해서 결정하는 것
  border-collapse: collapse; 테이블 간격 삭제
  vertical-align - inline/inline-block 요소 간의 세로정렬할때, table안에서 세로정렬할 때 vertical-align씀 - top,middl,bottom 가능
  display: inline - 항상 옆으로 채워지는 폭과 너비가 없는 요소
  .cart-table th:nth-child(n) n번째 등장하는 요소만 스타일링
  :hover - 마우스올릴 때 스타일, pseudo-class
*/

a{
  text-decoration: none;
}

div, input, textarea{
  box-sizing: border-box;
}

body{
  margin: 0;
}

table{
  border-collapse: collapse;
}

td,th{
  /* border: 1px solid black; */
}

.cart-table th, .cart-table td{
  padding: 15px;
  border-bottom: 1px solid #c2d3de;
}

.cart-table img{
  width: 100px; 
  height:80px;
}

.cart-table td:nth-child(3){
  text-align: right;
}

.profile {
  width: 300px; 
  display:block; 
  margin-left:auto; 
  margin-right:auto;
}

.profile__title{
  text-align: center;
  font-size: 16px;
}

.profile__content{
  text-align: center;
}

#special {
  text-align: center;
}


.box{
  width: 200px;
  background-color: cadetblue;
  margin: 10px;
  padding : 40px;
  border-radius: 15px;
  margin-left:auto; 
  margin-right:auto;
  text-align: center;
  color: white;
  box-shadow: 7px 4px 5px black;
}

.navbar li{
  display: inline-block;
  width: 60px;
  text-align: center;
  background: #eee;
  padding: 10px;
  border-radius: 5px;
  margin-left:auto; 
  margin-right:auto;
}

.navbar a{
  font-size: 16px;
}

.container{
  width: 800px;
  margin-left:auto; 
  margin-right:auto;
}

.container__left{
  width: 60%;
  height: 200px;
  display: inline-block;
}

.container__header{
  height: 100px;
  display: block;
}

.container__header-img{
  width:50px;
}

.container__header-content{
  display: inline-block;
  vertical-align: top;
}

.container__content{
  height: 50px;
  display: block;
}

.container__img{
  width: 39%;
  display: inline-block;
  vertical-align: top;
  height: 150px;
}

.main-background{
  width:100%;
  height: 500px;
  background-color: aliceblue;
  background-image: url(/img/shoes.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 1px;
  text-align: center;
}

.main-title{
  color: white;
  font-size: 40px;
  margin-top: 100px;
}

.main-content{
  color: #eee;
}

.main-button{
  padding: 15px;
  font-size: 20px;
  background: white;
  border: none;
  border-radius: 5px;
  position: relative;
  left: 0;
  right: 0;
  margin: auto;
  width: 150px;
}

.main-popup-background{
  background-color: #eee;
  position: relative;
  top: -50px;
  left: 0;
  right: 0;
  margin: auto;
  height: 100px;
  border-radius: 5px;
  padding: 10px;
  padding-bottom: 20px;
  max-width: 400px;
  box-sizing: border-box;
}

.form-blackground{
  background-color: black;
  padding: 30px;
}

.form-whiteground{
  background-color: white;
  padding: 30px;
  width: 80%;
  max-width: 600px;
  margin: auto;
}

.form-input{
  width: 100%;
  padding: 10px;
  font-size: 20px;
  border: 1px solid black;
  border-radius: 5px;
}

.w-50{
  width: 50%;
  float: left;
  padding: 10px;
}

.w-100{
  width: 100%;
  padding: 10px;
}

.yellow-button{
  padding: 10px;
  display: block;
  margin-left: auto;
  border: none;
  border-radius: 4px;
  
}

.cart-background{
  width: 100%;
  background-color: rgb(221, 229, 255);
  padding: 30px;
}

.cart-table{
  background-color: white;
  width: 100%;
  border-radius: 10px;  
}

.cart-item{
  margin: auto;
  max-width: 700px;
}


.btn{
  padding: 15px;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  background-color: coral;
  color: white;
  cursor: pointer;
  margin-top: 25px;
  margin-left: auto;
  display: block;
}

.btn:hover{
  background-color: rgb(252, 105, 52);
}
.btn:active{
  background-color: rgb(250, 92, 34);
}
.btn:focus{
  background-color: rgb(252, 82, 21);
}

.custom-link:link{
  color: violet
}

.custom-link:visited{
  color: black
}



